            header {
            height: 100vh;
            background: url(first-bg.jpg) no-repeat center top / cover;
        }
        
        div {
            display: block;
        }
        
        .container {
            width: 930px;
            margin: auto;
        }
        
        nav {
            float: right;
            margin-top: 45px;
        }
        
        p {
            float: left;
            margin-top: 45px;
        }
        
        .menu {
            display: block;
            padding: 0;
            margin: 0;
        }
        
        .menu li {
            float: left;
            display: block;
            margin-right: 41px;
        }
        
        .clearfix:after {
            content: '';
            display: table;
            width: 100%;
            clear: both;
        }
        
        body {
            font-family: Arial, sans-serif;
            padding: 0;
            margin: 0;
            color: #222222;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
        }
        
        div {
            box-sizing: border-box;
        }
        
        .titles__first {
            font-size: 42px;
            text-transform: uppercase;
            text-align: center;
            margin-top: 180px;
        }
        
        h1 {
            text-transform: uppercase;
            font-size: 75px;
            text-align: center;
            margin: 15px;
        }
        
        .button {
            background: blueviolet;
            color: #fff;
            border-radius: 3px;
            display: block;
            width: 240px;
            padding: 20px 0;
            margin: 0 auto;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            margin-top: 50px;
        }
        
        .title {
            padding-top: 115px;
        }
        
        .title h2 {
            font-size: 40px;
            text-transform: uppercase;
            margin: 0;
            font-weight: bold;
            text-align: center;
        }
        
        .title p {
            color: #777777;
            text-align: center;
            font-size: 16px;
            margin-top: 15px;
        }
        
        .services {
            margin-top: 80px;
        }
        
        .services__item {
            width: 270px;
            float: left;
            text-align: center;
        }
        
        .services__item h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }
        
        .services__item p {
            color: #777777;
            font-size: 14px;
            line-height: 1.55em;
        }
        
        .services__item:last-child {
            float: right;
        }
        
        .services__item:nth-child(2) {
            margin-left: 60px;
        }
        
        .services__item:last-child {
            float: right;
        }
        
        .services__item:nth-child(2) {
            margin-left: 60px;
        }
        
        #services {
            padding-bottom: 120px;
        }
        
        #portfolio {
            background: #f7f7f7;
            padding-bottom: 120px;
        }
        
        .works {
            margin-top: 70px;
        }
        
        .works p {
            float: left;
        }
        
        .works p:nth-child(2) {
            margin-left: 29px;
        }
        
        .works p:last-child {
            float: right;